In [11]:
import pandas as pd

In [12]:
data=pd.read_csv("C:/Users/csvel/OneDrive/Desktop/NYPD_Shooting_Incident_Data__Historic_.csv")

In [13]:
data

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat
0,74146165,08/14/2010,3:11:00,QUEENS,113,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1046573,183057,40.668915,-73.775341,POINT (-73.77534099699994 40.66891477200004)
1,66928846,10/17/2009,18:03:00,BROOKLYN,67,0.0,NaN,True,NaN,NaN,NaN,45-64,M,BLACK,1003313,176413,40.650877,-73.931302,POINT (-73.93130224699998 40.65087729100002)
2,29114164,05/18/2007,23:00:00,BROOKLYN,75,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1016292,176228,40.650332,-73.884529,POINT (-73.884529479 40.65033205800006)
3,85180336,06-09-12,17:15:00,BROOKLYN,81,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1005597,188673,40.684523,-73.923032,POINT (-73.92303235699995 40.68452304300007)
4,73405770,06/27/2010,4:14:00,BRONX,47,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1023551,263366,40.889474,-73.857860,POINT (-73.85786021699995 40.88947350500007)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21621,198255459,06-08-19,5:05:00,MANHATTAN,33,0.0,NaN,True,18-24,M,BLACK HISPANIC,18-24,M,WHITE HISPANIC,1001264,244950,40.838998,-73.938513,POINT (-73.93851306099998 40.838998278000076)
21622,202458696,09/13/2019,20:47:00,BROOKLYN,79,2.0,MULTI DWELL - PUBLIC HOUS,False,<18,M,BLACK,45-64,M,BLACK,998368,189350,40.686396,-73.949096,POINT (-73.94909593099999 40.68639573400004)
21623,196195745,04/18/2019,22:30:00,MANHATTAN,23,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,25-44,M,BLACK HISPANIC,998437,228299,40.793301,-73.948765,POINT (-73.94876499799994 40.79330094300008)
21624,205437642,11/20/2019,23:11:00,BRONX,44,0.0,COMMERCIAL BLDG,False,NaN,NaN,NaN,25-44,M,BLACK,1007188,243233,40.834272,-73.917110,POINT (-73.91710967899996 40.83427221300008)
21625,193694862,02/17/2019,14:08:00,BROOKLYN,63,0.0,NaN,False,18-24,M,BLACK,18-24,M,BLACK,1006878,169152,40.630939,-73.918479,POINT (-73.91847906599997 40.63093901600007)

In [14]:
missing_values=data.isna().sum()

In [15]:
missing_values

INCIDENT_KEY                   0
OCCUR_DATE                     0
OCCUR_TIME                     0
BORO                           0
PRECINCT                       0
JURISDICTION_CODE              2
LOCATION_DESC              12361
STATISTICAL_MURDER_FLAG        0
PERP_AGE_GROUP              7305
PERP_SEX                    7271
PERP_RACE                   7271
VIC_AGE_GROUP                  0
VIC_SEX                        0
VIC_RACE                       0
X_COORD_CD                     0
Y_COORD_CD                     0
Latitude                       0
Longitude                      0
Lon_Lat                        0
dtype: int64

In [16]:
missing_values_percent = data.isna().sum()*100 / len(data)

In [17]:
missing_values_percent

INCIDENT_KEY                0.000000
OCCUR_DATE                  0.000000
OCCUR_TIME                  0.000000
BORO                        0.000000
PRECINCT                    0.000000
JURISDICTION_CODE           0.009248
LOCATION_DESC              57.158050
STATISTICAL_MURDER_FLAG     0.000000
PERP_AGE_GROUP             33.778785
PERP_SEX                   33.621567
PERP_RACE                  33.621567
VIC_AGE_GROUP               0.000000
VIC_SEX                     0.000000
VIC_RACE                    0.000000
X_COORD_CD                  0.000000
Y_COORD_CD                  0.000000
Latitude                    0.000000
Longitude                   0.000000
Lon_Lat                     0.000000
dtype: float64

In [19]:
data['PERP_AGE_GROUP'].mode()

0    18-24
Name: PERP_AGE_GROUP, dtype: object

In [21]:
import numpy as np
data['PERP_AGE_GROUP'] = data['PERP_AGE_GROUP'].replace(np.nan,'18-24')

In [22]:
data

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat
0,74146165,08/14/2010,3:11:00,QUEENS,113,0.0,NaN,False,18-24,NaN,NaN,25-44,M,BLACK,1046573,183057,40.668915,-73.775341,POINT (-73.77534099699994 40.66891477200004)
1,66928846,10/17/2009,18:03:00,BROOKLYN,67,0.0,NaN,True,18-24,NaN,NaN,45-64,M,BLACK,1003313,176413,40.650877,-73.931302,POINT (-73.93130224699998 40.65087729100002)
2,29114164,05/18/2007,23:00:00,BROOKLYN,75,0.0,NaN,False,18-24,NaN,NaN,25-44,M,BLACK,1016292,176228,40.650332,-73.884529,POINT (-73.884529479 40.65033205800006)
3,85180336,06-09-12,17:15:00,BROOKLYN,81,0.0,NaN,False,18-24,NaN,NaN,25-44,M,BLACK,1005597,188673,40.684523,-73.923032,POINT (-73.92303235699995 40.68452304300007)
4,73405770,06/27/2010,4:14:00,BRONX,47,0.0,NaN,False,18-24,NaN,NaN,25-44,M,BLACK,1023551,263366,40.889474,-73.857860,POINT (-73.85786021699995 40.88947350500007)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21621,198255459,06-08-19,5:05:00,MANHATTAN,33,0.0,NaN,True,18-24,M,BLACK HISPANIC,18-24,M,WHITE HISPANIC,1001264,244950,40.838998,-73.938513,POINT (-73.93851306099998 40.838998278000076)
21622,202458696,09/13/2019,20:47:00,BROOKLYN,79,2.0,MULTI DWELL - PUBLIC HOUS,False,<18,M,BLACK,45-64,M,BLACK,998368,189350,40.686396,-73.949096,POINT (-73.94909593099999 40.68639573400004)
21623,196195745,04/18/2019,22:30:00,MANHATTAN,23,2.0,MULTI DWELL - PUBLIC HOUS,False,18-24,NaN,NaN,25-44,M,BLACK HISPANIC,998437,228299,40.793301,-73.948765,POINT (-73.94876499799994 40.79330094300008)
21624,205437642,11/20/2019,23:11:00,BRONX,44,0.0,COMMERCIAL BLDG,False,18-24,NaN,NaN,25-44,M,BLACK,1007188,243233,40.834272,-73.917110,POINT (-73.91710967899996 40.83427221300008)
21625,193694862,02/17/2019,14:08:00,BROOKLYN,63,0.0,NaN,False,18-24,M,BLACK,18-24,M,BLACK,1006878,169152,40.630939,-73.918479,POINT (-73.91847906599997 40.63093901600007)

In [23]:
data['PERP_AGE_GROUP'] = data['PERP_AGE_GROUP'].replace('UNKNOWN','18-24')

In [24]:
data

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat
0,74146165,08/14/2010,3:11:00,QUEENS,113,0.0,NaN,False,18-24,NaN,NaN,25-44,M,BLACK,1046573,183057,40.668915,-73.775341,POINT (-73.77534099699994 40.66891477200004)
1,66928846,10/17/2009,18:03:00,BROOKLYN,67,0.0,NaN,True,18-24,NaN,NaN,45-64,M,BLACK,1003313,176413,40.650877,-73.931302,POINT (-73.93130224699998 40.65087729100002)
2,29114164,05/18/2007,23:00:00,BROOKLYN,75,0.0,NaN,False,18-24,NaN,NaN,25-44,M,BLACK,1016292,176228,40.650332,-73.884529,POINT (-73.884529479 40.65033205800006)
3,85180336,06-09-12,17:15:00,BROOKLYN,81,0.0,NaN,False,18-24,NaN,NaN,25-44,M,BLACK,1005597,188673,40.684523,-73.923032,POINT (-73.92303235699995 40.68452304300007)
4,73405770,06/27/2010,4:14:00,BRONX,47,0.0,NaN,False,18-24,NaN,NaN,25-44,M,BLACK,1023551,263366,40.889474,-73.857860,POINT (-73.85786021699995 40.88947350500007)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21621,198255459,06-08-19,5:05:00,MANHATTAN,33,0.0,NaN,True,18-24,M,BLACK HISPANIC,18-24,M,WHITE HISPANIC,1001264,244950,40.838998,-73.938513,POINT (-73.93851306099998 40.838998278000076)
21622,202458696,09/13/2019,20:47:00,BROOKLYN,79,2.0,MULTI DWELL - PUBLIC HOUS,False,<18,M,BLACK,45-64,M,BLACK,998368,189350,40.686396,-73.949096,POINT (-73.94909593099999 40.68639573400004)
21623,196195745,04/18/2019,22:30:00,MANHATTAN,23,2.0,MULTI DWELL - PUBLIC HOUS,False,18-24,NaN,NaN,25-44,M,BLACK HISPANIC,998437,228299,40.793301,-73.948765,POINT (-73.94876499799994 40.79330094300008)
21624,205437642,11/20/2019,23:11:00,BRONX,44,0.0,COMMERCIAL BLDG,False,18-24,NaN,NaN,25-44,M,BLACK,1007188,243233,40.834272,-73.917110,POINT (-73.91710967899996 40.83427221300008)
21625,193694862,02/17/2019,14:08:00,BROOKLYN,63,0.0,NaN,False,18-24,M,BLACK,18-24,M,BLACK,1006878,169152,40.630939,-73.918479,POINT (-73.91847906599997 40.63093901600007)